#canvasContainer {
  -fx-background-image: url("/images/background.png");
  background-image: url("/images/background.png");
  -fx-background-repeat: stretch;
  background-repeat: stretch;
  -fx-background-position: center;
  background-position: center;
  -fx-alignment: center;
}

#pauseMenu {
  -fx-background-image: url("/images/UI_Flat_Frame_Standard_Blue.png");
  background-image: url("/images/UI_Flat_Frame_Standard_Blue.png");
  -fx-background-repeat: no-repeat;
  background-repeat: no-repeat;
  -fx-background-position: center;
  background-position: center;
  -fx-alignment: center;
  -fx-background-size: cover;
  background-size: cover;
}

.statLabel {
  -fx-background-image: url("/images/UI_Flat_Frame_Horizontal_Yellow.png");
  background-image: url("/images/UI_Flat_Frame_Horizontal_Yellow.png");
}

.statLabelContainer {
  -fx-background-image: url("/images/UI_Flat_Frame_Horizontal_Blue.png");
  background-image: url("/images/UI_Flat_Frame_Horizontal_Blue.png");
  -fx-background-repeat: stretch;
  background-repeat: stretch;
  -fx-background-position: center;
  background-position: center;
  -fx-alignment: center;
}
