#root {
    -fx-background-image: url('/images/background.jpg');
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-pref-width: 1600px;
    -fx-pref-height: 900px;
    -fx-alignment: center;
}

#RegisterBtn {
    -fx-background-image: url("/images/unlocked.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-size: contain;
    -fx-pref-width: 100px;
    -fx-pref-height: 40px;
}

#usernameField {
    -fx-max-width: 200px;
    -fx-max-height: 100px;
}

#passwordField {
    -fx-max-width: 200px;
    -fx-max-height: 100px;
}

#usernameText{
    -fx-text-fill: white;
}

#passwordText{
    -fx-text-fill: white;
}
