palette{
    background-color: #247cec ,  #fca41c , #fcecc4;
}
#box{
    -fx-background-color: #247cec;
    background-color: #247cec;
    -fx-border-width: 1px;
    border-width: 1px;
    -fx-border-style: solid;
    border-style: solid;
    -fx-border-color: black;
    border-color: black;

    -fx-display: flex;
    display: flex;
}

#title{
    -fx-font-weight: bold;
    font-weight: bold;
    -fx-decoration-color: RED;
    text-decoration-color: red;
    -fx-font-family: fantasy;
    font-family: fantasy;

    -fx-text-align: center;
    text-align: center;
    -fx-padding: 10px;
    padding: 10px;

    -fx-border-width: 1px;
    border-width: 1px;
    -fx-border-style: solid;
    border-style: solid;
    -fx-border-color: black;
    border-color: black;
}

#exit_button{
    -fx-background-image: url("/images/cross.png");
    background-image: url("/images/cross.png");
    -fx-background-size: cover;
    background-size: cover;
    -fx-background-position: center;
    background-position: center;
}

.scroll-pane{
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-border-width: 1px;
    border-width: 1px;
    -fx-border-style: solid;
    border-style: solid;
    -fx-border-color: black;
    border-color: black;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
    background-color: transparent;
}

#selectionGrid{
    -fx-background-color: #4fec24;
    background-color: #4fec24;
}

.button_selection{
    -fx-background-color: #fca41c;
    background-color: #fca41c;

    -fx-border-width: 1px;
    border-width: 1px;
    -fx-border-radious: 25px;
    border-radius: 25px;
    -fx-border-color: black;
    border-color: black;
}

.button_selection:hover {
    -fx-background-color: #fcecc4;
    background-color: #fcecc4;
}

.button_selection:disabled {
    -fx-background-color: #59f566;
    background-color: #59f566;
    -fx-opacity: 1;
    opacity: 1;
}