#box {
  -fx-background-color: #247cec;
  background-color: #247cec;

  -fx-display: flex;
  display: flex;
}

#title {
  -fx-font-size: 50;
  font-size: 50;
  -fx-font-weight: bold;
  font-weight: bold;
  -fx-font-color: RED;
  -fx-font-family: fantasy;
  font-family: fantasy;

  -fx-text-align: center;
  text-align: center;
  -fx-padding: 10px;
  padding: 10px;

  -fx-border-width: 1px;
  border-width: 1px;
  -fx-border-style: solid;
  border-style: solid;
  -fx-border-color: black;
  border-color: black;
}

#score {
  -fx-font-size: 30;
  font-size: 30;
  -fx-font-weight: bold;
  font-weight: bold;
  -fx-decoration-color: BLACK;
  text-decoration-color: black;
  -fx-font-family: fantasy;
  font-family: fantasy;

  -fx-text-align: center;
  text-align: center;
  -fx-padding: 10px;
  padding: 10px;
}

#user {
  -fx-font-size: 20px;
  font-size: 20px;
  -fx-decoration-color: BLACK;
  text-decoration-color: black;
  -fx-font-family: fantasy;
  font-family: fantasy;
  -fx-text-align: center;
  text-align: center;

  -fx-margin: 10px;
  margin: 10px;
  -fx-padding: 10px;
  padding: 10px;

  -fx-background-image: url("/images/UI_Flat_Frame_Horizontal_Yellow.png");
  background-image: url("/images/UI_Flat_Frame_Horizontal_Yellow.png");
  -fx-background-repeat: no-repeat;
  background-repeat: no-repeat;
  -fx-background-size: contain;
  background-size: contain;
  -fx-background-position: center;
  background-position: center;
}

#exitButton {
  -fx-background-image: url("/images/UI_Flat_Button.png"),
    url("/images/cross.png");
  background-image: url("/images/UI_Flat_Button.png"), url("/images/cross.png");
  -fx-background-position: center, center;
  background-position: center, center;
  -fx-background-repeat: no-repeat;
  background-repeat: no-repeat;
  -fx-background-size: contain;
  background-size: contain;
}

#inventory {
  -fx-background-image: url("/images/UI_Flat_Button.png"),
    url("/images/inventory.png");
  background-image: url("/images/UI_Flat_Button.png"),
    url("/images/inventory.png");
  -fx-background-position: center, center;
  background-position: center, center;
  -fx-background-repeat: no-repeat;
  background-repeat: no-repeat;
  -fx-background-size: contain;
  background-size: contain;
}

#scroll {
  -fx-background-color: #fca41c;
  background-color: #fca41c;
  -fx-background-radius: 5px;
  -fx-border-radius: 5px;
  border-radius: 5px;
  -fx-border-color: black;
  border-color: black;
  -fx-border-width: 2px;
  border-width: 2px;

  -fx-margin: 10;
  margin: 10;
  -fx-padding: 15;
  padding: 15;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
  -fx-background-color: #f2b00c;
  background-color: #f2b00c;
}

/* Customize the scrollbar thumb */
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
  -fx-background-color: #fcecc4;
  background-color: #fcecc4;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
  -fx-background-color: #fcecc4;
  background-color: #fcecc4;
}

.scroll-pane .viewport {
  -fx-background-color: #fca41c;
  background-color: #fca41c;
}

#grid {
  -fx-background-color: #247cec;
  background-color: #247cec;
  -fx-background-radius: 5px;
  -fx-border-radius: 5px;
  border-radius: 5px;
  -fx-border-color: black;
  border-color: black;
  -fx-border-width: 2px;
  border-width: 2px;

  -fx-margin: 10;
  margin: 10;
  -fx-padding: 20;
  padding: 20;

  -fx-row-gap: 12.5px;
  row-gap: 12.5px;
  -fx-column-gap: 10px;
  column-gap: 10px;
}

#pwubox {
  -fx-background-image: url("/images/UI_Flat_Frame_Standard_Yellow.png");
  background-image: url("/images/UI_Flat_Frame_Standard_Yellow.png");
  -fx-background-position: center;
  background-position: center;
  -fx-background-repeat: no-repeat;
  background-repeat: no-repeat;
  -fx-background-size: cover;
  background-size: cover;

  -fx-margin: 20;
  margin: 20;
  -fx-padding: 10;
  padding: 10;

  -fx-border-color: black;
  border-color: black;
  -fx-border-width: 2px;
  border-width: 2px;
}

#bottom {
  -fx-margin: 10;
  margin: 10;
  -fx-padding: 20;
  padding: 20;

  -fx-background-color: #fca41c;
  background-color: #fca41c;
  -fx-background-radius: 5px;
  -fx-border-radius: 5px;
  border-radius: 5px;
  -fx-border-color: black;
  border-color: black;
  -fx-border-width: 2px;
  border-width: 2px;
}

#scrolldesc {
  -fx-background-color: #fca41c;
  background-color: #fca41c;

  -fx-margin: 10;
  margin: 10;
  -fx-padding: 15;
  padding: 15;
}

#descbox {
  -fx-background-color: #fca41c;
  background-color: #fca41c;

  -fx-margin: 10;
  margin: 10;
  -fx-padding: 20;
  padding: 20;
}

#icon {
  -fx-margin: 10;
  margin: 10;
  -fx-padding: 10;
  padding: 10;
}

#buybutton {
  -fx-background-color: #fcecc4;
  background-color: #fcecc4;
  -fx-background-radius: 5px;

  -fx-border-radius: 5px;
  border-radius: 5px;
  -fx-border-color: black;
  border-color: black;
  -fx-border-width: 2px;
  border-width: 2px;

  -fx-margin: 10;
  margin: 10;
  -fx-padding: 10;
  padding: 10;
}
