#root {
  -fx-background-image: url("/images/menu_tutorial.png");
  background-image: url("/images/menu_tutorial.png");
  -fx-background-color: #247cec;
  background-color: #247cec;
  -fx-background-repeat: stretch;
  background-repeat: stretch;
  -fx-background-size: contain;
  background-size: contain;
  -fx-background-position: center;
  background-position: center;
  -fx-alignment: center;

  -fx-padding: 10;
  padding: 10;
}

#exitButton {
  -fx-background-image: url("/images/UI_Flat_Button.png"),
    url("/images/cross.png");
  background-image: url("/images/UI_Flat_Button.png"), url("/images/cross.png");
  -fx-background-position: center, center;
  background-position: center, center;
  -fx-background-repeat: no-repeat;
  background-repeat: no-repeat;
  -fx-background-size: contain;
  background-size: contain;
  -fx-min-width: 48;
  min-width: 48;
  -fx-min-height: 48;
  min-height: 48;

  -fx-margin: 10px;
  margin: 10px;
}
